<!-- <app-list-person></app-list-person> -->
<!-- <app-word></app-word>
<app-book></app-book>
<app-user-form></app-user-form>
<app-font-size-editor></app-font-size-editor>
<app-pet></app-pet>
<app-calculator></app-calculator>
<app-color-picker></app-color-picker> -->
<!-- <app-parent></app-parent> -->
<!-- <app-register-final></app-register-final> -->
<!-- <app-dictionary></app-dictionary> -->
<!-- <nav>
    <a routerLink="/" class="link">Home</a>
    <a routerLink="dictionary" class="link">
        Dictionary
    </a>
    <a routerLink="blog" class="link">Blog</a>
</nav>
<li>
    <a routerLink="login-step-1">Login</a>
</li>

<router-outlet></router-outlet> -->
<!-- <app-content-projection></app-content-projection>

<h2> From service</h2>
<input type="text" [value]="authService.user" (input)="$event.target.value"> -->
<!-- <nav>
    <a href="" routerLink="youtube" class="link">youtube</a>
</nav>
<router-outlet></router-outlet> -->
<!-- <nav>
    <a routerLink="timelines" class="link">
        Ung dung tinh thoi gian
    </a>
</nav>
<router-outlet></router-outlet> -->
<!-- <app-image-gallery></app-image-gallery> -->
<!-- <app-img-slider>
    <app-img-slide>
        <img src="https://via.placeholder.com/1280x420/e91e63/ffffff?text=1" alt="">
    </app-img-slide>
    <app-img-slide>
        <img src="https://via.placeholder.com/1280x420/e91e63/ffffff?text=2" alt="">
    </app-img-slide>
    <app-img-slide>
        <img src="https://via.placeholder.com/1280x420/e91e63/ffffff?text=3" alt="">
    </app-img-slide>
    <app-img-slide>
        <img src="https://via.placeholder.com/1280x420/e91e63/ffffff?text=4" alt="">
    </app-img-slide>
</app-img-slider> -->

<nav>
  <a routerLink="/blog">Blog</a>
</nav>
<router-outlet></router-outlet>
